#container{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    height: 960px;
    width: 960px;
    border: 1px black solid;
}
.square{
    height: 60px;
    width: 60px;
    border: 1px black solid;
}
.square.black{
    background-color: black;
}